<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>login_web_app2</display-name>
  <welcome-file-list>
    <welcome-file>login.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description>login</description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>com.login.controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>success</description>
    <display-name>LoginSeccessServlet</display-name>
    <servlet-name>LoginSeccessServlet</servlet-name>
    <servlet-class>com.login.controller.SeccessServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginSeccessServlet</servlet-name>
    <url-pattern>/success</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.login.controller.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListStudentsInClass</display-name>
    <servlet-name>ListStudentsInClass</servlet-name>
    <servlet-class>com.student.controller.ListStudentsInClass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListStudentsInClass</servlet-name>
    <url-pattern>/listStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddStudent</display-name>
    <servlet-name>AddStudent</servlet-name>
    <servlet-class>com.student.controller.AddStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddStudent</servlet-name>
    <url-pattern>/addStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListSubjectsInClass</display-name>
    <servlet-name>ListSubjectsInClass</servlet-name>
    <servlet-class>com.subject.controller.ListSubjectsInClass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListSubjectsInClass</servlet-name>
    <url-pattern>/listSubjectsByClass</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddTeacher</display-name>
    <servlet-name>AddTeacher</servlet-name>
    <servlet-class>com.teacher.controller.AddTeacher</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddTeacher</servlet-name>
    <url-pattern>/addTeacher</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>listTeacherBySubject</display-name>
    <servlet-name>listTeacherBySubject</servlet-name>
    <servlet-class>com.teacher.controller.listTeacherBySubject</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>listTeacherBySubject</servlet-name>
    <url-pattern>/listTeacher</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updateTeacher</display-name>
    <servlet-name>updateTeacher</servlet-name>
    <servlet-class>com.teacher.controller.updateTeacher</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateTeacher</servlet-name>
    <url-pattern>/updateTeacher</url-pattern>
  </servlet-mapping>
</web-app>